 
 /* Fonts
----------------------------------------------------------------*/
@font-face {
  font-family: 'MontserratBold';  /* Headings */
  src:  url('../fonts/montserratbold.woff2') format('woff2'),
        url('../fonts/montserratbold.woff') format('woff');
}
@font-face {
  font-family: 'HindNormal';      /* Default */
  src:  url('../fonts/hindnormal.woff2') format('woff2'),
        url('../fonts/hindnormal.woff') format('woff');
}
* {
  font-family: 'HindNormal', sans-serif;
  color: white;
}
h1 {
  font-family: 'MontserratBold', sans-serif;
  font-size: 5em;
  line-height: 1em;
}
.by-day-text {
  color: rgb(112, 156, 250);
  font-size: 1.8em;
}
.arrow a{
  font-size: 1.5em;
  font-family: 'HindNormal';
}

/* 
 * Sections
----------------------------------------------------------------*/
section {
  height: 100vh;
  background-size: cover;
}
#s1 {
  background-image: url('../img/by-day.jpg');
}
#s2 {
  background-image: url('../img/by-night-half.jpg');
}
#s3 {
  background-image: url('../img/contact-bg.jpg');
}

/* 
 * Alignment
----------------------------------------------------------------*/
* {
  padding: 0;
  margin: 0 auto;
}
h1 {
  margin-left: 5%;
  margin-top: 4%;
}
.section-content {
  height: 100%;
}
.column {
  width: 33%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding-top: 8%;
  min-width: 33%;
  position: relative;
}
.profile img {
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
.characteristic {
  text-align: center;
  margin-top: 0;
}
.spec-bubble {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  text-align: center;
  vertical-align: top;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.spec-content {
  margin: 0;
  float: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}
.hobby-bubble {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
.section-center {
  text-align: center;
  position: relative;
  top: 30%;
  left: 30%;
  transform: translate(-30%, -30%);
}
.gallery {
  display: inline-block;
  padding-left: 1%;
}
.gal-caption {
  text-align: left;
  display: inline-block;
  width: 60%;
  height: 85%;
  vertical-align: top;
  margin-left: 5%;
  padding-top: 12%;
}
.gal-img {
  width: 100%;
  height: 100%;
}
.nav-img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.gal-container {
  width: 280px;
  margin: 0;
  display: inline-block;
  float: left;
}

/* 
 * Responsive styling
----------------------------------------------------------------*/
.mobile-view {
  display: none;
}
/* Common mobile css */
@media only screen and (max-width: 767px) {
  .non-mobile {
    display: none;
  }
  .mobile-view {
    display: inline-block;
    height: 100vh;
  }
}
/* Smartphone portrait */
@media only screen and (min-width: 320px) and (max-width: 479px) {

}
/* Smartphone landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}
/* Laptops & smaller screens */
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .spec-bubble {
    width: 100px;
    height: 100px;
  }
  .profile img {
    width: 300px;
    height: 300px;
  }  
  .hobby-bubble {
    width: 180px;
    height: 180px;
  }
}
/* Large screens */
@media only screen and (min-width: 1301) {
  .spec-bubble {
    width: 125px;
    height: 125px;
  }
  .profile img {
    width: 360px;
    height: 360px;
  }
}

/* 
 * General styling
----------------------------------------------------------------*/
a {
  text-decoration: none;
}
.spec-bubble {
  background-color: rgba(112, 156, 250, .75);
}
.spec-bubble:hover {
  background-color: rgba(112, 156, 250, 1.0);
}
.nav-img {
  cursor: pointer;
}

/* 
 * Effects
----------------------------------------------------------------*/
.hover-grow {
  transition: transform 0.2s ease-in; 
}
.hover-grow:hover {
  transform:scale(1.3); 
}
.hover-grow-profile {
  transition: transform 0.2s ease-in; 
}
.hover-grow-profile:hover {
  transform:scale(1.15); 
}
.grayscale { 
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .2s ease;
}
.grayscale:hover{ 
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;
}

/* 
 * Modal windows
 * FIX SECOND/THIRD PAGE ISSUES
----------------------------------------------------------------*/
.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modal-bg:target {
  opacity:1;
  pointer-events: auto;
}
.modal-bg > div {
  width: 800px;
  height: 410px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: rgba(112, 156, 250, 0.75);
}
.close {
  background: transparent;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -12px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-radius: 30px;
}
.close img {
  width: 30px;
  height: 30px;
}

/* Media query stuff: http://tinyurl.com/qfrxem6 */